.col-md-6
		%h1.mood 
				Why, hello there...
				%span A review of the most up-to-date evidence suggests that building the following five actions into our day-to-day lives is important for wellbeing and we're only asking for you to share one!

		= render 'form'

		= link_to "Cancel", root_path, class: "cancel"
.col-md-6
		= image_tag("/assets/picture3.png", class:"random-image")

